# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

*.bak
.cache
.idea
*.log
*.lock
schema.ini

example/stats
example/stats*
example/images
example/images*
example/quicklooks*
beamer_v*/annual*
beamer_v*/composite*
beamer_v*/images*
beamer_v*/stats*

example_tasumi*
example_usgs_sr*
